/* 2properties */
/* justify-items - along :horizontal */
/* align-items - along vertical */

/*1*/

/* .container{
    display: grid;
    /* grid-template-columns: repeat(2,100px);
    grid-template-rows: repeat(3,100px); */
    /* grid-template: repeat(3,100px)/repeat(2,100px); */
    /* border: 3px solid lightgrey; */
    /* justify-items: center; default = stretch */
    /* align-items: center;default = stretch */
    /*align grid inside the container*/
    /* justify-content: center; */
    /* height: 100vh; */
    /* align-content: center; */
/* }  */


/* .box{
    width: 5rem;
    height: 5rem;
    background-color: gold;

} */

/*2*/

/* .container{
    display: grid; */
    /*fr = fraction of the available space*/
    /* grid-template: 100px auto 100px/ 100px 30fr 70fr; 
 */
    /*Gap*/
    /* row-gap: 10px;
    column-gap: 20px; */
    /* gap: 10px; */

    /* border: 3px solid lightgrey; */
    /* justify-items: center; default = stretch */
    /* align-items: center;default = stretch */
    /* justify-content: center;
    height: 100vh;
} */

/* .box{
    /* width: 5rem; */
    /* height: 5rem; */
    /* background-color: gold; */

/* } */

/*3 Placing Items | grid row, grid item grid area*/

/* .container{
    display: grid;
    grid-template: 100px auto 100px/ 100px 30fr 70fr; 
    gap: 10px;
    border: 3px solid lightgrey;
    height: 100vh;
} */

/* .box{
    background-color: gold;
} */

/* .box-one{ */
    /*move A to col 2*/
    /* grid-column: 2; */
    
    /*move to line number use the grid overlay button to check line numbers*/
    /* grid-column: 1 / 3; */
    
    /*last line number*/
    /* grid-column: 1 / -1;  */

    /*how many cells use span */
    /* grid-column: 1/span 2; */
    /* use span or start / end line numbers with grid row*/
    /* grid-row: 1;  */

    /*Start / End*/
    /*row / column*/
    /* grid-area: 1/1 /  1/3; not so readable*/
    
/* } */


/*4- planing items in named areas*/

.container{
    display: grid;
    grid-template: 100px auto 100px/ 30fr 70fr;
    grid-template-areas: 
        "header header" 
        "sidebar main" 
        ". footer"; 
        /* . = empty cell*/
    gap: 10px;
    border: 3px solid lightgrey;
    height: 100vh;
}

.box{
    background-color: gold;
}

.box-one{
    grid-area: header;
    
}

.box-four{
    grid-area: footer;
}