 h1{
    /* color:dodgerblue !important; */
 }

 .highlight{
    color: blueviolet;
 }

 #products{
    color: green;
 }

 #products{
    color: aqua;
 }

 .featured #products{
    color: brown;
    /* specificity = 110 */
 }